tr:hover td{
    background: rgba(0,0,0,.05)!important;
}

td{
    padding: .5em .7em;
    font-size: 14px;
}

th{
    background: #f9fafb;
    color: rgba(0,0,0,.87);
    padding: .92857143em .78571429em;
    font-size: 14px;
}

.print_button{
	background-color: #db2828;
    color: #fff;
    text-shadow: none;
    background-image: none;
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
    font-size: .92857143rem;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
}

.save_button{
    background-color: #198f35;
    color: #fff;
    text-shadow: none;
    background-image: none;
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
    font-size: .92857143rem;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
}

.button_search{
	background-color: #198f35;
    color: #fff;
    text-shadow: none;
    background-image: none;
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
    font-size: .92857143rem;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
}

.dt-buttons{
    text-align: center;
    margin-bottom: 20px;
}

.dt-button{
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    text-shadow: none;
    background-image: none;
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
    font-size: .92857143rem;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
}

select, input[type=text], input[type=search]{
	border: 1px solid rgba(34,36,38,.15) !important;
    border-radius: 0px  !important;
}

body{
    padding-bottom: 40px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.header{
    text-align: center;
    margin-top: 110px;
    margin-bottom: 20px;
}

#min, #max, #pmin, #pmax{
    font-size: 14px;
    width: 83px;
    margin: 0px 1px;
    padding: 0px 5px;
    height: calc(1.8125rem + 2px);
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#period{
    text-align: right;
}

#print{
    margin-top: 20px;
}

#dateprinted{
    margin-top: 20px;
    display:none;
}

#prepared, #approved{
    margin-top: 50px;
    text-align: center;
    display:none;
}

#prepared p:first-child, #approved p:first-child{
    border-bottom: 2px solid;
    margin-bottom: 0px;
}

#tag{
    display: none;
}

#submit{
    font-size: 10px;
    padding: 3px 6px;
    margin-top: -4px;
}

.casetype{
    width: 172px;
    display: inline-block;
}

.mt10{
    margin-top: 10px;
}

.mt25{
    margin-top: 25px;
}

.search-bar{
    padding: 10px;
    border-radius: 6px;
    color: #767676!important;
    font-weight: 500;
    margin-bottom: 30px;
}

.center{
    text-align: center;
}

.m0a{
    margin: 0 auto;
    display: block;
    width: 66%;
}

.m0a.date{
    width: 76%;
    margin-left: 60px;
}

.searchbtn{
    margin-bottom: 10px;
}

.tright{
    text-align: right;
    display: none;
}

.dateprevious {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    padding-left: 430px;
}

@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 15mm 5mm 15mm 5mm;  
} 
     

@media print {

    thead
    {
        display: table-row-group;
    }

    .header {
        margin-top: 0px;
    }
    
    #top_menu, #agentslist_paginate, #agentslist_info, #agentslist_length, #agentslist_filter, #period, #print, .search-bar, .dt-buttons{
        display:none;
    }

    th:before, th:after{
        opacity: 0 !important;
    }

    #dateprinted, #prepared, #approved, #tag, .tright{
        display:block;
    }
}


.ui.positive.message {
    background-color: #fcfff5;
    color: #2c662d;
}
.ui.message {
    font-size: 1em;
}
.ui.message {
    position: relative;
    min-height: 1em;
    margin: 1em 0;
    background: #f8f8f9;
    padding: 15px 6px 1px 20px;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    -webkit-transition: opacity .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
    transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease,-webkit-box-shadow .1s ease;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset, 0 0 0 0 transparent;
}
.ui.positive.message .header {
    color: #1a531b;
}
.ui.message .header:not(.ui) {
    font-size: 1.14285714em;
}
.ui.message .header {
    display: block;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    margin: -.14285714em 0 0 0;
}

/* switch */

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 19px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#top_menu {
    border-right: none;
    border-left: none;
    border-top: 4px solid #db2828;
    z-index: 1 !important;
    width: 100%;
}

#top_menu .item{
    padding: 4px;
}

.ui.fixed.menu, .ui[class*="top fixed"].menu {
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
}

.ui.menu.fixed, .ui.menu.fixed .item:first-child, .ui.menu.fixed .item:last-child {
    border-radius: 0!important;
}

.ui.menu.fixed {
    position: fixed;
    z-index: 101;
    margin: 0;
    width: 100%;
}

.ui.menu:last-child {
    margin-bottom: 0;
}

.ui.menu:first-child {
    margin-top: 0;
}

.ui.menu {
    font-size: 1rem;
}

.ui.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background: #fff;
    font-weight: 400;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;
    min-height: 2.85714286em;
}

.menu {
    border-radius: 0px !important;
}

.ui.image{
	width:200px;
}

.ui.menu .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: rgba(0,0,0,.87);
    font-weight: 400;
    -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}

.ui.menu:not(.vertical) .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ui.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
    outline: 0;
    text-align: left;
    -webkit-transition: box-shadow .1s ease,width .1s ease;
    transition: box-shadow .1s ease,width .1s ease;
    -webkit-tap-highlight-color: transparent;
}

.ui.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: rgba(34,36,38,.1);
}

.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto!important;
}

.ui.menu:not(.vertical)>.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

a{
    text-decoration: none;
    color: #464646;
    font-size: 1em;
    padding: 0px 15px;
}


.accordion {
    color: rgba(0,0,0,.4);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background: 0 0;
    color: rgba(0,0,0,.95);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion_container{
	border: 1px solid rgba(34,36,38,.15);
}

.panel div{
    text-align: left;
    padding: 5px 20px;
}

.accordion.active .fas{
    transform: rotate(90deg);
}